.container{
    margin: auto;
    max-width: 1170px;

    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: 4px 8px 31px 0px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 4px 8px 31px 0px rgba(34, 60, 80, 0.33);
    box-shadow: 4px 8px 31px 0px rgba(34, 60, 80, 0.33);
}

.channelHeader{
    display: flex;
    padding: 3rem 2rem 0  3rem;
}

.back {
    position: absolute;
    top: 5rem;
    left: 6rem;  
}

.back img {
    width: 40px;
    height: 40px;
}

@media (max-width: 600px) {
    .back {
        display: none;
    }
    .channelHeader{
        padding: 3rem 2rem 0  2rem;
    }
}